        :root {
            --dark: rgb(26, 26, 26);
            --light:  rgb(240, 240, 240);
        }
        .inter-regular {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        }
        body {
            grid-template-columns: auto auto auto;
            margin: 0;
            color: var(--dark);
            background-color: var(--light);
        }
        nav{
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-shadow: 0px 5px 25px black;
            background-color: rgb(154, 74, 228);
            color: var(--light);
        }
        nav ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: start;
            gap: 10px;
        }
        header {
            padding: 100px;
        }
        header h1 {
            text-align: center;
        }
        header p {
            text-align: center;
            color: gray;
        }
        img {
            display: block;
        }

        section {
            padding: 10px;
        }
        .end {
            text-align: center;
        }
        main {
            padding: 10px;
        }
        main section{
            margin: 10px;
        }
        main section {
            background-color: var(--light);
            border-radius: 16px;
            box-shadow: 0 0 10px black;
        }
        .review section {
            box-shadow: 0 0 10px black;
            border-radius: 16px;
            margin: 10px;
        }
        button {
            background-color: rgb(154, 74, 228);
            border: none;
        }
        @media (min-width: 600px) {
            main {
                display: grid;
                grid-template-areas: 'pro we edu''pro osw edu';
                gap: 10px;
                padding: 30px;
            }
            .projects {
                grid-area: pro;
            }
            .we {
                grid-area: we;
            }
            .osw  {
                grid-area: osw;
            }
            .edu  {
                grid-area: edu;
            }

            .review {
                display: grid;
                grid-template-areas: 'a a a';
                column-gap: 10px;
            }
            .review h2 {
                grid-area: a;
            }
            nav{
                flex-direction: row;
                justify-content: space-between;
            }
            img {
                display: inline;
            }
        }